@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #720000;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;
}

main {
    background-color: rgb(255, 255, 255);
    width: 800px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: left;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 150px;
    margin-right: 50px;
}

input {
    width: 200px;
    height: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    background-color: green;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.nomenclature {
    display: inline-block;
    place-items: center;
    height: 40px;
    background-color: rgb(224, 224, 224);
    width: 700px;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.information {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(224, 224, 224);
    width: 700px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    min-height: 500px;
}

a {
    background-color: rgb(150, 150, 150);
    color: azure;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.tags-external {
    padding: 10px;
    margin-bottom: 80px;
}

footer {
    color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #720000;
    margin: 0 auto;
    bottom: 0px;
}

@media (max-width: 600px) {
    body {
        margin: 0px auto;
    }

    main {
        width: 95%;
        padding: 15px;
        margin: 0 auto;
    }

    img {
        width: 100px;
        margin: 0px auto;
    }

    h1 {
        font-size: 1.5rem;
        padding: 20px;
        text-align: left;
    }

    .header {
        flex-direction: grid;
        align-items: center;
        gap: 10px;
    }

    input {
        width: 100%;
        max-width: 400px;
        height: 35px;
    }

    button {
        width: 170px;
        max-width: 400px;
        margin-left: 0;
    }

    .nomenclature {
        width: 100%;
        margin: 15px 0;
    }

    .information {
        width: 100%;
        height: auto;
        min-height: 150px;
        margin: 5px 0;
    }

    a {
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin: 10px auto;
        display: block;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 0px;
        margin: 0px auto;
    }
}
